.map{
	padding:70px 0 82px;
}
.bl-table{
	padding:40px 0;
}
h1{
	font-size:40px;
	font-weight:bold;
	color:#202020;
	margin:0 0 20px;
}
p{
	font-size:16px;
	line-height:26px;

}
.bl-detail-map{	
	padding:96px 0 132px;	
}
.list-social{
	margin:40px 0;
	.title{
		font-weight:bold;
		font-size:14px;
	}
}
.list-photo{
	padding:0px;
	li{
		list-style: none;
	    margin: 0 0 20px;
	    font-size: 15px;
	    font-weight: bold;
	    clear: both;
	    width: 370px;
	    line-height: 19px;
		&:last-child{
			margin:0px;
		}
		img{
			float:left;
			margin:0 16px 16px 0;
		}
	}
}