.tabs-nav{
	background:#D34E4E;
	display:inline-block;
	padding:0px;
	margin:0px;
	li{
		display: inline-block;
	    list-style: none;
	    padding: 0px;
	    margin: 0 0 0 -4px;
		&.tab-active{
			a{
				background:#8A0000;
			}
		}
		a{
			color: #fff;
		    text-transform: uppercase;
		    display: block;
		    text-align: center;
		    height: 44px;
		    line-height: 44px;
		    font-size:15px;
		    font-weight:bold;
		    padding:0 35px;
		}
	}
}