html,body{
	font-family: 'Droid Sans';
	color:#202020;
	height:100%;
}
a{
	color:#333;
	text-decoration:none;
}
.no-padd-right{
	padding-right:0px;
}
.no-padd-left{
	padding-left:0px;
}
.line-grey{
	border-top: 1px solid #ccc;
	margin:20px 0;
}
.message-subs{
	font-family: arial;
    font-size: 12px !important;
    text-align: left;
    color: #333;
    line-height: 18px;
    padding: 0 3px;
	a{
		color:#D20000;
	}
}
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

