.lay-femHeader{
	background:#C00101;
	height:44px;
}
.lay-femBody{
	height:100%;
}
.lay-femFooter{
	height:40px;
	background:#E9E9E9;
	.icon-glr{
		@include sprite($logo-footer);
		float:right;
		margin:14px 0 0;
	}
}